p{
    margin-left: 20%;
    color: white;
    margin-top: 3%;
    font-weight: bold;
}

.perfil-utilizador-img{
    width: 150px;
    height: 150px;
    margin-left: 30%;
    margin-top: 7%;
}

.nome-perfil{
    margin-left: 29%;
    font-size: 25px;
    margin-top: 1%;
}

.papel-perfil{
    margin-left: 31.5%;
    font-weight:200;
    margin-top: -10px;
    font-size: 17px;
}

#pNome{
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    background-color: #2A2B36;
    color: white;
    left: 50%;
}




#user_email{
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    background-color: #2A2B36;
    color: white;
    top: 30%;
    left: 75%;
}

#phone{
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    background-color: #2A2B36;
    color: white;
    top: 52%;
    left: 75%;
}



#passwordNova{
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    background-color: #2A2B36;
    color: white;
    top: 52%;
    left: 50%;
}

.pNome{
    position: absolute;
    top: 18%;
    left: 38%;

}


.email{
    position: absolute;
    top: 18%;
    left: 60.5%;
}


.numTelemovel{
    position: absolute;
    top: 40%;
    left: 59.5%;
}



.passNova{
    position: absolute;
    top: 40%;
    left: 35%;
}



.button-atualizar{
    background-color: #1C7CD5;
    border: none;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 77%;
    border-radius: 5px;
    position: absolute;
    left: 9.5%;
    top: 85%;
    width: 120px;  
    height: 40px;

    
}

.button-cancelar{
    background-color: #6C757D;
    border: none;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 65%;
    margin-top: 8%;
    border-radius: 5px;
    width: 120px;  
    height: 40px;
    position: absolute;
    left: 11%;
    top: 502.5px;
}

.upload-foto{
    margin-left: 20%;
}

.button-atualizar:hover {
    background: rgba(28, 124, 213, 0.8);
}


.button-cancelar:hover {
    background: rgba(108, 117, 125, 0.8);
}

