#btn-gerar-fatura{
    margin-left: 52%;
    margin-top: -6%;
}


#btn-editar-orcamento{  
    margin-left: 26%;
    background-color: #6C757D;
    margin-top: -6%;
    
}

.button-atualizar:hover {
    background: rgba(28, 124, 213, 0.8);
}


#btn-editar-orcamento:hover {
    background: rgba(108, 117, 125, 0.8);
}

.dados2-orcamentos2{
    margin-top: -4.1%;
    margin-left: -5%;
}

#btn-gerar-fatura-orcamentos2{
    margin-left: 35%;
    margin-top: -17%;
}
