h6{
    color: white;
    margin-left: 30%;
    font-weight: lighter;
}

h3{
    color: white;
    margin-left: 30%;
    margin-top: 60px;
    
}

.Recuperar-codigo-email{
    position: absolute;
    left: 40%;
    
}

#input-recuperar{
    background-color: #2A2B36;
    color: white;
    box-sizing: border-box;
    border-bottom: 2px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin-left: 30%;
    margin-top: 25px;
    width: 600px;
}


.txt-enderecoEmail{
    margin-left: 30%;
}

#arrow-recuperar{
    width: 20px;
    height: 20px;
    margin-left: 400%;
    margin-top: 1020%;

}