.pedidos3-comentario-container{
    margin-left: 60%;
    margin-top: 0%;
}

.Comentario-Pedidos3{
    margin-left: 60%;
    margin-top: -10.5%;
    padding-top: 2px;

}

.dados1{
    margin-left: -15%;
    margin-top: 55px;
}

.dados2{
    margin-left: -34%;
    margin-top: -7.8%;
}


#input-desconto{
    background-color: #2A2B36;
    color: white;
    box-sizing: border-box;
    border-bottom: 2px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin-left: 46%;
    position: absolute;
    top: 45.6%;
    width: 50px;
}



#input-valor{
    background-color: #2A2B36;
    color: white;
    box-sizing: border-box;
    border-bottom: 2px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin-left: 80%;
    position: absolute;
    top: 38%;
    width: 50px;
}

#dados2-pedido3{
    font-weight:100;
    position: absolute;
    left: 45.9%;
    top: 32%;
}

#dados2-pedido3{
    position: absolute;
    top: 31%;
    left: 46%;
}

#btn-gerar-orcamento-pedidos33{
    margin-left: 39%;
    width: 9.5%;
    margin-top: -6%;
}

#percentagem{
    position: absolute;
    left: 50%;
    top: 45%;
}

#euro{
    position: absolute;
    left: 50%;
    top: 35%;
}