#dados2-cliente{
    font-weight: lighter;

}

.dados-clientes1{
    margin-left: 38%;
    margin-top: 8.5%;
}

.dados-clientes2{
    margin-left: 60%;
    margin-top: -16.70%;
}

#btn-ver-orcamento{
    margin-left: 39%;
    width: 9.5%;
    margin-top: -6%;
}

